In [1]:
import datetime

import numpy as np
import pandas as pd
import yaml
from sqlalchemy import create_engine
from datetime import  timedelta
from sqlalchemy import Time

In [2]:
# Abrimos el archivo YAML de configuración ubicado en el directorio '../../configBD/config.yml'.
# Este archivo contiene los parámetros de conexión a la base de datos.
with open('../../configBD/config.yml', 'r') as f:
    # Cargamos el archivo YAML usando la función safe_load de la librería 'yaml'.
    # Esto convierte el contenido del archivo en un diccionario de Python.
    config = yaml.safe_load(f)

    # Extraemos la configuración específica para la base de datos 'rapidofuriosos'.
    # Se asume que el archivo YAML tiene una sección llamada 'rapidofuriosos' con los detalles de conexión.
    config_rp = config['rapidofuriosos']
    config_etl = config['bodega']

# Construimos la URL de conexión a la base de datos usando los parámetros extraídos del archivo YAML.
# Esta URL sigue el formato estándar de SQLAlchemy: 'driver://user:password@host:port/dbname'.
url_rp = (f"{config_rp['driver']}://{config_rp['user']}:{config_rp['password']}@{config_rp['host']}:"
          f"{config_rp['port']}/{config_rp['db']}")
url_etl = (f"{config_etl['driver']}://{config_etl['user']}:{config_etl['password']}@{config_etl['host']}:"
           f"{config_etl['port']}/{config_etl['db']}")
# Create the SQLAlchemy Engine

etl_conn = create_engine(url_etl)
# Creamos el motor de conexión a la base de datos usando SQLAlchemy.
# El motor de conexión se usa para ejecutar consultas y transacciones en la base de datos.
rf_db = create_engine(url_rp)

In [3]:
dim_mensajero = pd.read_sql_table('dim_mensajero', etl_conn)
dim_fecha = pd.read_sql_table('dim_fecha', etl_conn)
dim_tiempo = pd.read_sql_table('dim_tiempo', etl_conn)

Obteniendo el mensajero y relacionando con Key de la dim mensajero

In [4]:
# Cargar ambas tablas
mensajeria_servicio = pd.read_sql_table('mensajeria_servicio', rf_db, columns=['id', 'mensajero_id', 'mensajero2_id', 'mensajero3_id'])
mensajeria_servicio_estado = pd.read_sql_table('mensajeria_estadosservicio', rf_db)

# Filtrar servicios que tienen exactamente los estados 1, 2, 4, y 5
estados_requeridos = {1, 2, 4, 5}
servicios_con_estados_requeridos = (
    mensajeria_servicio_estado[mensajeria_servicio_estado['estado_id'].isin(estados_requeridos)]
    .groupby('servicio_id')['estado_id']
    .apply(set)
    .reset_index()
)

# Filtrar solo aquellos servicios que contienen todos los estados requeridos
servicios_completos = servicios_con_estados_requeridos[servicios_con_estados_requeridos['estado_id'] == estados_requeridos]['servicio_id']

# Filtrar la tabla `mensajeria_servicio_estado` para incluir solo los registros de estos servicios completos
servicios_estados = mensajeria_servicio_estado[mensajeria_servicio_estado['servicio_id'].isin(servicios_completos)]

# Pivotar los datos para que cada servicio tenga una fila con columnas para cada estado,
servicios_pivot = servicios_estados.pivot_table(
    index='servicio_id',
    columns='estado_id',
    values=['fecha', 'hora'],
    aggfunc='last'
)

# Aplanar el índice de columnas, concatenando 'fecha' y 'hora' con el `estado_id`
servicios_pivot.columns = [f'{col[0]}_estado_{col[1]}' for col in servicios_pivot.columns]
servicios_pivot = servicios_pivot.reset_index()

# Eliminar las columnas de novedad (estado_id = 3) antes de proceder
servicios_pivot = servicios_pivot.drop(columns=['fecha_estado_3', 'hora_estado_3'], errors='ignore')

# Unir con `mensajeria_servicio` para obtener el `mensajero_id`
mensajeria_servicio = mensajeria_servicio.assign(
    mensajero_id=(
        mensajeria_servicio['mensajero3_id']
        .fillna(mensajeria_servicio['mensajero2_id'])
        .fillna(mensajeria_servicio['mensajero_id'])
    )
)

# Unir las columnas `mensajero_id` al DataFrame pivotado
resultado = pd.merge(
    servicios_pivot,
    mensajeria_servicio[['id', 'mensajero_id']],
    left_on='servicio_id',
    right_on='id',
    how='inner'
)

# Eliminar columnas redundantes y renombrar si es necesario
resultado = resultado.drop(columns=['id']).rename(columns={'servicio_id': 'id_servicio'})

# Renombramiento de columnas excluyendo el estado de novedad
nuevos_nombres = {
    'fecha_estado_1': 'key_fecha_iniciado',
    'hora_estado_1': 'key_hora_iniciado',
    'fecha_estado_2': 'key_fecha_con_mensajero_asignado',
    'hora_estado_2': 'key_hora_con_mensajero_asignado',
    'fecha_estado_4': 'key_fecha_recogido_por_mensajero',
    'hora_estado_4': 'key_hora_recogido_por_mensajero',
    'fecha_estado_5': 'key_fecha_entregado_en_destino',
    'hora_estado_5': 'key_hora_entregado_en_destino',
    'fecha_estado_6': 'key_fecha_terminado_completo',
    'hora_estado_6': 'key_hora_terminado_completo',
    'mensajero_id': 'key_dim_mensajero'
}
resultado.rename(columns=nuevos_nombres, inplace=True)

# Convertir las columnas de hora a formato "HH:MM:SS", eliminando fracciones de segundos
for col in [col for col in resultado.columns if col.startswith('key_hora_')]:
    resultado[col] = pd.to_datetime(resultado[col].astype(str).str.split('.').str[0], format='%H:%M:%S').dt.time

# Contar valores no nulos en cada columna para ver el resultado final
resultado.head()

   id_servicio  ... key_dim_mensajero
0            7  ...               7.0
1            8  ...               7.0
2           10  ...               7.0
3           12  ...               7.0
4           13  ...               7.0

[5 rows x 12 columns]

In [5]:

# Definir los estados en el orden que ocurren
nombres_estados = [
    'iniciado',
    'con_mensajero_asignado',
    'recogido_por_mensajero',
    'entregado_en_destino',
    'terminado_completo'
]

# Reemplazar valores nulos en 'terminado_completo' con 'entregado_en_destino' antes de los cálculos
resultado['key_fecha_terminado_completo'] = resultado['key_fecha_terminado_completo'].fillna(resultado['key_fecha_entregado_en_destino'])
resultado['key_hora_terminado_completo'] = resultado['key_hora_terminado_completo'].fillna(resultado['key_hora_entregado_en_destino'])


# Marcar registros con tiempos negativos para su eliminación
registros_a_eliminar = []

for i in range(len(nombres_estados) - 1):
    estado_actual = nombres_estados[i]
    estado_siguiente = nombres_estados[i + 1]
    
    # Definir nombres de las columnas de fecha y hora para el estado actual y el siguiente
    fecha_actual = f'key_fecha_{estado_actual}'
    hora_actual = f'key_hora_{estado_actual}'
    fecha_siguiente = f'key_fecha_{estado_siguiente}'
    hora_siguiente = f'key_hora_{estado_siguiente}'
    
    # Calcular tiempo entre estados
    tiempo_actual = pd.to_datetime(resultado[fecha_actual], errors='coerce') + pd.to_timedelta(resultado[hora_actual].astype(str), errors='coerce')
    tiempo_siguiente = pd.to_datetime(resultado[fecha_siguiente], errors='coerce') + pd.to_timedelta(resultado[hora_siguiente].astype(str), errors='coerce')
    diferencia_tiempo = tiempo_siguiente - tiempo_actual

    # Identificar filas con tiempos negativos
    registros_con_tiempo_negativo = diferencia_tiempo[diferencia_tiempo < pd.Timedelta(0)].index.tolist()
    registros_a_eliminar.extend(registros_con_tiempo_negativo)

# Filtrar registros con tiempo total negativo
tiempo_inicio = pd.to_datetime(resultado['key_fecha_iniciado'], errors='coerce') + pd.to_timedelta(resultado['key_hora_iniciado'].astype(str), errors='coerce')
tiempo_final = pd.to_datetime(resultado['key_fecha_terminado_completo'], errors='coerce') + pd.to_timedelta(resultado['key_hora_terminado_completo'].astype(str), errors='coerce')
diferencia_total = tiempo_final - tiempo_inicio

registros_con_tiempo_total_negativo = diferencia_total[diferencia_total < pd.Timedelta(0)].index.tolist()
registros_a_eliminar.extend(registros_con_tiempo_total_negativo)

# Eliminar filas con problemas de tiempo negativo
resultado_filtrado = resultado.drop(index=set(registros_a_eliminar)).reset_index(drop=True)

# Realizar los cálculos de tiempos restantes con el DataFrame filtrado
for i in range(len(nombres_estados) - 1):
    estado_actual = nombres_estados[i]
    estado_siguiente = nombres_estados[i + 1]
    
    # Definir nombres de las columnas de fecha y hora para el estado actual y el siguiente
    fecha_actual = f'key_fecha_{estado_actual}'
    hora_actual = f'key_hora_{estado_actual}'
    fecha_siguiente = f'key_fecha_{estado_siguiente}'
    hora_siguiente = f'key_hora_{estado_siguiente}'
    
    # Calcular tiempo entre estados
    tiempo_actual = pd.to_datetime(resultado_filtrado[fecha_actual], errors='coerce') + pd.to_timedelta(resultado_filtrado[hora_actual].astype(str), errors='coerce')
    tiempo_siguiente = pd.to_datetime(resultado_filtrado[fecha_siguiente], errors='coerce') + pd.to_timedelta(resultado_filtrado[hora_siguiente].astype(str), errors='coerce')
    diferencia_tiempo = diferencia_tiempo = (tiempo_siguiente - tiempo_actual).dt.total_seconds() / 60


    resultado_filtrado[f'tiempo_espera_{estado_actual}_a_{estado_siguiente}'] = diferencia_tiempo.apply(
        lambda x: int(x) if pd.notnull(x) and x > 0 else 1
    )

diferencia_total = (tiempo_final - tiempo_inicio).dt.total_seconds() / 60
resultado_filtrado['tiempo_total_servicio'] = diferencia_total.apply(lambda x: int(x) if x > 0 else 1)


# Exportar el resultado filtrado
resultado_filtrado.head()

   id_servicio  ... tiempo_total_servicio
0            8  ...                 60233
1           10  ...                292298
2           12  ...                248722
3           13  ...                 56636
4           14  ...                150400

[5 rows x 17 columns]

In [6]:
#FECHA INICIADO
resultado_filtrado['key_fecha_iniciado'] = pd.to_datetime(resultado_filtrado['key_fecha_iniciado']).dt.date
dim_fecha['date'] = pd.to_datetime(dim_fecha['date']).dt.date

resultado_filtrado = resultado_filtrado.merge(dim_fecha, how='left', left_on='key_fecha_iniciado', right_on='date')

resultado_filtrado.rename(columns={'key_dim_fecha': 'id_fecha_iniciado'}, inplace=True)
resultado_filtrado.drop(columns=['date', 'Fecha_id', 'ano', 'mes', 'dia', 'dia_semana', 'nombre_dia', 'nombre_mes', 'key_fecha_iniciado'], inplace=True)

#FECHA MENSAJERO ASIGNADO

resultado_filtrado['key_fecha_con_mensajero_asignado'] = pd.to_datetime(resultado_filtrado['key_fecha_con_mensajero_asignado']).dt.date

resultado_filtrado = resultado_filtrado.merge(dim_fecha, how='left', left_on='key_fecha_con_mensajero_asignado', right_on='date')

resultado_filtrado.rename(columns={'key_dim_fecha': 'id_fecha_con_mensajero_asignado'}, inplace=True)

resultado_filtrado.drop(columns=['date', 'Fecha_id', 'ano', 'mes', 'dia', 'dia_semana', 'nombre_dia', 'nombre_mes', 'key_fecha_con_mensajero_asignado'], inplace=True)

#FECHA RECOGIDO
resultado_filtrado['key_fecha_recogido_por_mensajero'] = pd.to_datetime(resultado_filtrado['key_fecha_recogido_por_mensajero']).dt.date
dim_fecha['date'] = pd.to_datetime(dim_fecha['date']).dt.date

resultado_filtrado = resultado_filtrado.merge(dim_fecha, how='left', left_on='key_fecha_recogido_por_mensajero', right_on='date')

resultado_filtrado.rename(columns={'key_dim_fecha': 'id_fecha_recogido_por_mensajero'}, inplace=True)
resultado_filtrado.drop(
    columns=['date', 'Fecha_id', 'ano', 'mes', 'dia', 'dia_semana', 'nombre_dia', 'nombre_mes', 'key_fecha_recogido_por_mensajero'],
    inplace=True)

#FECHA ENTREGADO

resultado_filtrado['key_fecha_entregado_en_destino'] = pd.to_datetime(
    resultado_filtrado['key_fecha_entregado_en_destino']).dt.date

resultado_filtrado = resultado_filtrado.merge(dim_fecha, how='left', left_on='key_fecha_entregado_en_destino',
                                              right_on='date')

resultado_filtrado.rename(columns={'key_dim_fecha': 'id_fecha_entregado_en_destino'}, inplace=True)

resultado_filtrado.drop(columns=['date', 'Fecha_id', 'ano', 'mes', 'dia', 'dia_semana', 'nombre_dia', 'nombre_mes',
                                 'key_fecha_entregado_en_destino'], inplace=True)

#FECHA TERMINADO
resultado_filtrado['key_fecha_terminado_completo'] = pd.to_datetime(
    resultado_filtrado['key_fecha_terminado_completo']).dt.date

resultado_filtrado = resultado_filtrado.merge(dim_fecha, how='left', left_on='key_fecha_terminado_completo',
                                              right_on='date')

resultado_filtrado.rename(columns={'key_dim_fecha': 'id_fecha_terminado_completo'}, inplace=True)

resultado_filtrado.drop(columns=['date', 'Fecha_id', 'ano', 'mes', 'dia', 'dia_semana', 'nombre_dia', 'nombre_mes',
                                 'key_fecha_terminado_completo'], inplace=True)


resultado_filtrado

       id_servicio  ... id_fecha_terminado_completo
0                8  ...                        8865
1               10  ...                        8835
2               12  ...                        8702
3               13  ...                        8767
4               14  ...                        8851
...            ...  ...                         ...
26371        28462  ...                        9009
26372        28463  ...                        9009
26373        28464  ...                        9009
26374        28465  ...                        9009
26375        28468  ...                        9009

[26376 rows x 17 columns]

In [7]:
#KEY HORA INICIADO

# Asegúrate de que 'hora_solicitud' sea un objeto datetime.time
resultado_filtrado['key_hora_iniciado'] = resultado_filtrado['key_hora_iniciado'].apply(lambda x: f"{x.hour:02}:00:00")
dim_tiempo['hora'] = dim_tiempo['hora'].astype(str)
dim_tiempo['id'] = dim_tiempo.index
# Hacer un merge para obtener el id correspondiente
resultado_filtrado = resultado_filtrado.merge(dim_tiempo, how='left', left_on='key_hora_iniciado', right_on='hora')
resultado_filtrado.rename(columns={'id': 'id_hora_iniciado'}, inplace=True)
resultado_filtrado.drop(columns=['key_hora_iniciado', 'key_hora_iniciado', 'hora', 'tiempo_id'], inplace=True)
#resultado_filtrado.rename(columns={'hora': 'key_hora_iniciado'})

#KEY MENSAJERO ASIGNADO
resultado_filtrado['key_hora_con_mensajero_asignado'] = resultado_filtrado['key_hora_con_mensajero_asignado'].apply(lambda x: f"{x.hour:02}:00:00")

# Hacer un merge para obtener el id correspondiente
resultado_filtrado = resultado_filtrado.merge(dim_tiempo, how='left', left_on='key_hora_con_mensajero_asignado', right_on='hora')
resultado_filtrado.rename(columns={'id': 'id_hora_con_mensajero_asignado'}, inplace=True)
resultado_filtrado.drop(columns=['key_hora_con_mensajero_asignado', 'hora', 'tiempo_id'], inplace=True)


#KEY RECOGIDO MENSAJERO
resultado_filtrado['key_hora_recogido_por_mensajero'] = resultado_filtrado['key_hora_recogido_por_mensajero'].apply(lambda x: f"{x.hour:02}:00:00")
resultado_filtrado = resultado_filtrado.merge(dim_tiempo, how='left', left_on='key_hora_recogido_por_mensajero', right_on='hora')
resultado_filtrado.rename(columns={'id': 'id_hora_recogido_por_mensajero'}, inplace=True)
resultado_filtrado.drop(columns=['key_hora_recogido_por_mensajero', 'hora', 'tiempo_id'], inplace=True)


#KEY HORA ENTREGADO
resultado_filtrado['key_hora_entregado_en_destino'] = resultado_filtrado['key_hora_entregado_en_destino'].apply(lambda x: f"{x.hour:02}:00:00")
resultado_filtrado = resultado_filtrado.merge(dim_tiempo, how='left', left_on='key_hora_entregado_en_destino', right_on='hora')
resultado_filtrado.rename(columns={'id': 'id_hora_entregado_en_destino'}, inplace=True)
resultado_filtrado.drop(columns=['key_hora_entregado_en_destino', 'hora', 'tiempo_id'], inplace=True)

#KEY HORA TERMINADO
resultado_filtrado['key_hora_terminado_completo'] = resultado_filtrado['key_hora_terminado_completo'].apply(lambda x: f"{x.hour:02}:00:00")
resultado_filtrado = resultado_filtrado.merge(dim_tiempo, how='left', left_on='key_hora_terminado_completo', right_on='hora')
resultado_filtrado.rename(columns={'id': 'id_hora_terminado_completo'}, inplace=True)
resultado_filtrado.drop(columns=['key_hora_terminado_completo', 'hora', 'tiempo_id'], inplace=True)

resultado_filtrado

       id_servicio  ...  id_hora_terminado_completo
0                8  ...                          16
1               10  ...                           9
2               12  ...                           0
3               13  ...                           3
4               14  ...                          16
...            ...  ...                         ...
26371        28462  ...                          13
26372        28463  ...                          13
26373        28464  ...                          13
26374        28465  ...                          15
26375        28468  ...                          14

[26376 rows x 17 columns]

In [8]:
#KEY HORA TERMINADO

resultado_filtrado = resultado_filtrado.merge(dim_mensajero, how='left', left_on='key_dim_mensajero', right_on='user_id')
resultado_filtrado.rename(columns={'key_dim_mensajero_y': 'id_mensajero'}, inplace=True)
resultado_filtrado.drop(columns=['key_dim_mensajero_x', 'user_id', 'first_name', 'last_name', 'telefono', 'email'], inplace=True)
resultado_filtrado = resultado_filtrado.drop(columns=['id_servicio'])


resultado_filtrado

       tiempo_espera_iniciado_a_con_mensajero_asignado  ...  id_mensajero
0                                               132704  ...            13
1                                               144177  ...            13
2                                                25738  ...            13
3                                                25696  ...            13
4                                                25687  ...            13
...                                                ...  ...           ...
26371                                                1  ...            46
26372                                                2  ...            47
26373                                               36  ...            42
26374                                               10  ...            30
26375                                               16  ...            47

[26376 rows x 16 columns]

In [9]:
resultado_filtrado.to_sql(
    'fact_mensajeria_cliente_snapshot', 
    url_etl, 
    if_exists='replace', 
    index=True, 
    index_label='key_hecho_mensajeria_cliente_snapshot'  # Nombre que quieres darle al índice en la DB
)

376