In [8]:
import datetime

import numpy as np
import pandas as pd
import yaml
from sqlalchemy import create_engine
from datetime import  timedelta

In [9]:
# Abrimos el archivo YAML de configuración ubicado en el directorio '../../configBD/config.yml'.
# Este archivo contiene los parámetros de conexión a la base de datos.
with open('../../configBD/config.yml', 'r') as f:
    # Cargamos el archivo YAML usando la función safe_load de la librería 'yaml'.
    # Esto convierte el contenido del archivo en un diccionario de Python.
    config = yaml.safe_load(f)

    # Extraemos la configuración específica para la base de datos 'rapidofuriosos'.
    # Se asume que el archivo YAML tiene una sección llamada 'rapidofuriosos' con los detalles de conexión.
    config_rp = config['rapidofuriosos']
    config_etl = config['bodega']

# Construimos la URL de conexión a la base de datos usando los parámetros extraídos del archivo YAML.
# Esta URL sigue el formato estándar de SQLAlchemy: 'driver://user:password@host:port/dbname'.
url_rp = (f"{config_rp['driver']}://{config_rp['user']}:{config_rp['password']}@{config_rp['host']}:"
          f"{config_rp['port']}/{config_rp['db']}")
url_etl = (f"{config_etl['driver']}://{config_etl['user']}:{config_etl['password']}@{config_etl['host']}:"
           f"{config_etl['port']}/{config_etl['db']}")
# Create the SQLAlchemy Engine

etl_conn = create_engine(url_etl)
# Creamos el motor de conexión a la base de datos usando SQLAlchemy.
# El motor de conexión se usa para ejecutar consultas y transacciones en la base de datos.
rf_db = create_engine(url_rp)

In [10]:
dim_mensajero = pd.read_sql_table('dim_mensajero', etl_conn)
dim_fecha = pd.read_sql_table('dim_fecha', etl_conn)
dim_tiempo = pd.read_sql_table('dim_tiempo', etl_conn)

In [11]:
# Extraer las columnas necesarias de mensajeria_servicio
mensajeria_servicio = pd.read_sql_table('mensajeria_servicio', rf_db, columns=['id', 'mensajero_id', 'mensajero2_id', 'mensajero3_id'])


# Cargar la tabla mensajeria_estadosservicio completa
mensajeria_servicio_estado = pd.read_sql_table('mensajeria_estadosservicio', rf_db)

# Filtrar mensajeria_servicio_estado para quedarnos solo con los registros con estado_id 5
estado_filtrado = mensajeria_servicio_estado[mensajeria_servicio_estado['estado_id'] == 5]



# Unir mensajeria_servicio con estado_filtrado usando la columna 'id' como referencia
# Esto deja solo los registros de mensajeria_servicio que tienen un estado_id de 5 en mensajeria_servicio_estado
mensajeria_servicio_filtrado = mensajeria_servicio[mensajeria_servicio['id'].isin(estado_filtrado['servicio_id'])]



mensajeria_servicio_filtrado = mensajeria_servicio_filtrado.assign(
    mensajero_id=(
        mensajeria_servicio_filtrado['mensajero3_id']
        .fillna(mensajeria_servicio_filtrado['mensajero2_id'])
        .fillna(mensajeria_servicio_filtrado['mensajero_id'])
    )
)


mensajeria_servicio_filtrado = pd.merge(
    mensajeria_servicio_filtrado[['id', 'mensajero_id']], 
    dim_mensajero[['key_dim_mensajero', 'user_id']],
    left_on='mensajero_id',  
    right_on='user_id',        
    how='inner'
)
mensajeria_servicio_filtrado = mensajeria_servicio_filtrado[['id', 'key_dim_mensajero']]
mensajeria_servicio_filtrado.head()

    id  key_dim_mensajero
0   73                 13
1  124                 37
2  113                 37
3  102                 37
4  158                 37

In [12]:
hecho_snapshot = pd.read_sql_table('mensajeria_servicio', rf_db, columns=['id', 'hora_solicitud'])

# Asegúrate de que 'hora_solicitud' sea un objeto datetime.time
hecho_snapshot['hora'] = hecho_snapshot['hora_solicitud'].apply(lambda x: f"{x.hour:02}:00:00")
hecho_snapshot_original = hecho_snapshot
# Imprimir el resultado
hecho_snapshot.head()

   id hora_solicitud      hora
0  34       09:46:03  09:00:00
1  35       11:18:14  11:00:00
2  36       19:21:01  19:00:00
3  41       09:46:09  09:00:00
4  42       09:46:10  09:00:00

In [13]:
#dim_tiempo = pd.DataFrame({
 #   "hora": pd.date_range("00:00", "23:00", freq="H").time
#})
dim_tiempo['hora'] = dim_tiempo['hora'].astype(str)
dim_tiempo['id'] = dim_tiempo.index
# Hacer un merge para obtener el id correspondiente
hecho_snapshot = hecho_snapshot.merge(dim_tiempo, how='left', left_on='hora', right_on='hora', suffixes=('', 'key_hora_iniciado'))

hecho_snapshot = hecho_snapshot[['id', 'idkey_hora_iniciado', 'hora_solicitud']]

# Revisar el resultado del merge
hecho_snapshot.head()

   id  idkey_hora_iniciado hora_solicitud
0  34                    9       09:46:03
1  35                   11       11:18:14
2  36                   19       19:21:01
3  41                    9       09:46:09
4  42                    9       09:46:10

In [14]:
# dim_tiempo['hora'] = dim_tiempo['hora'].astype(str)
# dim_tiempo['id'] = dim_tiempo.index
# 
# hecho_snapshot = hecho_snapshot_original.copy()
# dim_tiempo['key_hora_iniciado'] = dim_tiempo.index
# # Hacer el merge para obtener el id correspondiente
# hecho_snapshot = hecho_snapshot.merge(dim_tiempo[['hora', 'id']], how='left', on='hora')
# 
# # Renombrar la columna id de dim_tiempo a key_hora_iniciado
# hecho_snapshot.rename(columns={'id': 'key_hora_iniciado'}, inplace=True)
# hecho_snapshot = hecho_snapshot[['hora', 'key_hora_iniciado']]
# hecho_snapshot

In [15]:
#key_hora_con_mensajero_asignado
estados_servicio_filtrado = pd.read_sql_query(
    """
    SELECT servicio_id as id, MAX(hora) as hora, estado_id
    FROM mensajeria_estadosservicio
    WHERE estado_id = 2
    GROUP BY servicio_id, estado_id
    """,
    rf_db
)

# Filtrar donde estado_id es 2
#estados_servicio_filtrado = estados_servicio[estados_servicio['estado_id'] == 2]

# Seleccionar y renombrar columnas para el merge
#estados_servicio_filtrado = estados_servicio_filtrado[['id', 'hora', 'estado_id']]
                             #.rename(columns={'id': 'key_con_mensaje_asignado'}))



# Revisar el resultado final
estados_servicio_filtrado

          id      hora  estado_id
0      11233  19:44:31          2
1      26264  12:27:51          2
2       5468  09:30:27          2
3      20549  11:46:23          2
4      26770  10:59:53          2
...      ...       ...        ...
27697  19812  07:52:16          2
27698   4035  15:52:05          2
27699   4827  05:29:21          2
27700    790  12:05:23          2
27701  10896  17:48:56          2

[27702 rows x 3 columns]

In [16]:
estados_servicio_filtrado['hora_mensajero_asignado'] = estados_servicio_filtrado['hora'].apply(lambda x: f"{x.hour:02}:00:00")

estados_servicio_filtrado

          id      hora  estado_id hora_mensajero_asignado
0      11233  19:44:31          2                19:00:00
1      26264  12:27:51          2                12:00:00
2       5468  09:30:27          2                09:00:00
3      20549  11:46:23          2                11:00:00
4      26770  10:59:53          2                10:00:00
...      ...       ...        ...                     ...
27697  19812  07:52:16          2                07:00:00
27698   4035  15:52:05          2                15:00:00
27699   4827  05:29:21          2                05:00:00
27700    790  12:05:23          2                12:00:00
27701  10896  17:48:56          2                17:00:00

[27702 rows x 4 columns]

In [17]:
dim_tiempo['hora'] = dim_tiempo['hora'].astype(str)

# Add 'id' column to dim_tiempo for identification if not done yet
dim_tiempo['id'] = dim_tiempo.index

estados_servicio_filtrado = estados_servicio_filtrado.merge(
    dim_tiempo[['hora', 'id']],
    how='left',
    left_on='hora_mensajero_asignado',
    right_on='hora',
    suffixes=('', '_key_mensajero_asignado')
)

# Rename the merged 'id' column to 'key_mensajero_asignado'

# Step 4: Drop the extra 'hora' column from dim_tiempo if not needed
estados_servicio_filtrado = estados_servicio_filtrado.drop(columns=['hora_key_mensajero_asignado'])
estados_servicio_filtrado.rename(columns={'id': 'key_hora_con_mensajero_asignado', 'hora':'hora_mensajero_asignado_real'})
estados_servicio_filtrado

,id,hora,estado_id,hora_mensajero_asignado,id_key_mensajero_asignado
0,11233,19:44:31,2,19:00:00,19
1,26264,12:27:51,2,12:00:00,12
2,5468,09:30:27,2,09:00:00,9
3,20549,11:46:23,2,11:00:00,11
4,26770,10:59:53,2,10:00:00,10
...,...,...,...,...,...
27697,19812,07:52:16,2,07:00:00,7
27698,4035,15:52:05,2,15:00:00,15
27699,4827,05:29:21,2,05:00:00,5
27700,790,12:05:23,2,12:00:00,12
27701,10896,17:48:56,2,17:00:00,17

In [18]:
hecho_snapshot = hecho_snapshot.merge(
    estados_servicio_filtrado[['id', 'hora_mensajero_asignado', 'id_key_mensajero_asignado']],
    how='left',   # Usa 'left' para mantener todas las filas de hecho_snapshot
    on='id',      # La columna en común
    suffixes=('', '_msj')  # Añadir sufijos para columnas duplicadas
)
hecho_snapshot = hecho_snapshot.drop_duplicates()
hecho_snapshot

,id,idkey_hora_iniciado,hora_solicitud,hora_mensajero_asignado,id_key_mensajero_asignado
0,34,9,09:46:03,NaN,NaN
1,35,11,11:18:14,14:00:00,14.0
2,36,19,19:21:01,NaN,NaN
3,41,9,09:46:09,NaN,NaN
4,42,9,09:46:10,NaN,NaN
...,...,...,...,...,...
28425,28267,10,10:52:02,11:00:00,11.0
28426,28363,16,16:02:24,16:00:00,16.0
28427,28403,7,07:52:50,07:00:00,7.0
28428,28438,10,10:42:03,10:00:00,10.0
28429,28437,10,10:40:33,10:00:00,10.0

In [19]:
#key_hora_novedad
estados_novedad = pd.read_sql_query(
    """
    SELECT servicio_id as id, MAX(hora) as hora, estado_id
    FROM mensajeria_estadosservicio
    WHERE estado_id = 3
    GROUP BY servicio_id, estado_id
    """,
    rf_db
)

# Filtrar donde estado_id es 2
#estados_servicio_filtrado = estados_servicio[estados_servicio['estado_id'] == 2]

# Seleccionar y renombrar columnas para el merge
#estados_servicio_filtrado = estados_servicio_filtrado[['id', 'hora', 'estado_id']]
#.rename(columns={'id': 'key_con_mensaje_asignado'}))



# Revisar el resultado final
estados_novedad

         id      hora  estado_id
0     11719  11:03:39          3
1     23626  13:51:53          3
2     25173  10:54:32          3
3     18818  15:05:14          3
4     26770  11:40:33          3
...     ...       ...        ...
3268   3489  14:46:58          3
3269  14918  11:56:52          3
3270  19798  08:39:56          3
3271  19819  08:58:27          3
3272   8394  16:25:05          3

[3273 rows x 3 columns]

In [20]:
estados_novedad['hora_novedad'] = estados_novedad['hora'].apply(lambda x: f"{x.hour:02}:00:00")

estados_novedad

         id      hora  estado_id hora_novedad
0     11719  11:03:39          3     11:00:00
1     23626  13:51:53          3     13:00:00
2     25173  10:54:32          3     10:00:00
3     18818  15:05:14          3     15:00:00
4     26770  11:40:33          3     11:00:00
...     ...       ...        ...          ...
3268   3489  14:46:58          3     14:00:00
3269  14918  11:56:52          3     11:00:00
3270  19798  08:39:56          3     08:00:00
3271  19819  08:58:27          3     08:00:00
3272   8394  16:25:05          3     16:00:00

[3273 rows x 4 columns]

In [21]:
dim_tiempo['hora'] = dim_tiempo['hora'].astype(str)

# Add 'id' column to dim_tiempo for identification if not done yet
dim_tiempo['id'] = dim_tiempo.index

estados_novedad= estados_novedad.merge(
    dim_tiempo[['hora', 'id']],
    how='left',
    left_on='hora_novedad',
    right_on='hora',
    suffixes=('', '_key_novedad')
)

# Rename the merged 'id' column to 'key_mensajero_asignado'

# Step 4: Drop the extra 'hora' column from dim_tiempo if not needed
#estados_novedad = estados_servicio_filtrado.drop(columns=['hora_novedad'])
estados_novedad.rename(columns={'id': 'key_hora_novedad', 'hora':'hora_novedad_real'})
estados_novedad

         id      hora  estado_id hora_novedad hora_key_novedad  id_key_novedad
0     11719  11:03:39          3     11:00:00         11:00:00              11
1     23626  13:51:53          3     13:00:00         13:00:00              13
2     25173  10:54:32          3     10:00:00         10:00:00              10
3     18818  15:05:14          3     15:00:00         15:00:00              15
4     26770  11:40:33          3     11:00:00         11:00:00              11
...     ...       ...        ...          ...              ...             ...
3268   3489  14:46:58          3     14:00:00         14:00:00              14
3269  14918  11:56:52          3     11:00:00         11:00:00              11
3270  19798  08:39:56          3     08:00:00         08:00:00               8
3271  19819  08:58:27          3     08:00:00         08:00:00               8
3272   8394  16:25:05          3     16:00:00         16:00:00              16

[3273 rows x 6 columns]

In [22]:
hecho_snapshot = hecho_snapshot.merge(
    estados_novedad[['id', 'hora_novedad', 'id_key_novedad']],
    how='left',   # Usa 'left' para mantener todas las filas de hecho_snapshot
    on='id',      # La columna en común
    suffixes=('', '_msj')  # Añadir sufijos para columnas duplicadas
)
hecho_snapshot = hecho_snapshot.drop_duplicates()
hecho_snapshot

,id,idkey_hora_iniciado,hora_solicitud,hora_mensajero_asignado,id_key_mensajero_asignado,hora_novedad,id_key_novedad
0,34,9,09:46:03,NaN,NaN,NaN,NaN
1,35,11,11:18:14,14:00:00,14.0,NaN,NaN
2,36,19,19:21:01,NaN,NaN,NaN,NaN
3,41,9,09:46:09,NaN,NaN,NaN,NaN
4,42,9,09:46:10,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
28425,28267,10,10:52:02,11:00:00,11.0,NaN,NaN
28426,28363,16,16:02:24,16:00:00,16.0,NaN,NaN
28427,28403,7,07:52:50,07:00:00,7.0,NaN,NaN
28428,28438,10,10:42:03,10:00:00,10.0,NaN,NaN
28429,28437,10,10:40:33,10:00:00,10.0,NaN,NaN

In [23]:
#key_hora_recogido_por_mensajero

estados_recogido_por_mensajero = pd.read_sql_query(
    """
    SELECT servicio_id as id, MAX(hora) as hora_recogido_por_mensajero, estado_id
    FROM mensajeria_estadosservicio
    WHERE estado_id = 4
    GROUP BY servicio_id, estado_id
    """,
    rf_db
)
estados_recogido_por_mensajero['hora_recogido_por_mensajero'] = estados_recogido_por_mensajero['hora_recogido_por_mensajero'].apply(lambda x: f"{x.hour:02}:00:00")
estados_recogido_por_mensajero= estados_recogido_por_mensajero.merge(
    dim_tiempo[['hora', 'id']],
    how='left',
    left_on='hora_recogido_por_mensajero',
    right_on='hora',
    suffixes=('', '_key_hora_recogido_por_mensajero')
)
#estados_recogido_por_mensajero.drop(columns=['id', 'estado_id'])
hecho_snapshot = hecho_snapshot.merge(
    estados_recogido_por_mensajero[['id', 'id_key_hora_recogido_por_mensajero']],
    how='left',   # Usa 'left' para mantener todas las filas de hecho_snapshot
    on='id',      # La columna en común
    suffixes=('', '_msj')  # Añadir sufijos para columnas duplicadas
)




hecho_snapshot

,id,idkey_hora_iniciado,hora_solicitud,hora_mensajero_asignado,id_key_mensajero_asignado,hora_novedad,id_key_novedad,id_key_hora_recogido_por_mensajero
0,34,9,09:46:03,NaN,NaN,NaN,NaN,NaN
1,35,11,11:18:14,14:00:00,14.0,NaN,NaN,19.0
2,36,19,19:21:01,NaN,NaN,NaN,NaN,NaN
3,41,9,09:46:09,NaN,NaN,NaN,NaN,NaN
4,42,9,09:46:10,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
28425,28267,10,10:52:02,11:00:00,11.0,NaN,NaN,11.0
28426,28363,16,16:02:24,16:00:00,16.0,NaN,NaN,16.0
28427,28403,7,07:52:50,07:00:00,7.0,NaN,NaN,8.0
28428,28438,10,10:42:03,10:00:00,10.0,NaN,NaN,11.0
28429,28437,10,10:40:33,10:00:00,10.0,NaN,NaN,11.0