In [1]:
import pandas as pd
import yaml
from sqlalchemy import create_engine

In [ ]:
# Instala SQLAlchemy para manejar la conexión a bases de datos y mapear datos tabulares en Python.
!pip install sqlalchemy

# Instala pandas para cargar, manipular, transformar y analizar los datos.
!pip install pandas

# Instala psycopg2 para interactuar con bases de datos PostgreSQL.
!pip install psycopg2

# Instala psycopg2-binary, la versión binaria, para facilitar la interacción con PostgreSQL.
!pip install psycopg2-binary

# Instala la biblioteca holidays para considerar feriados en el análisis de datos o procesamiento de fechas.
!pip install holidays

Requirement already satisfied: sqlalchemy in c:\users\braya\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\braya\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\braya\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: pandas in c:\users\braya\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\braya\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\braya\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\braya\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\braya\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\braya\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: psycopg2 in c:\users\braya\anaconda3\lib\site-packages (2.9.9)
Requirement already satisfied: psycopg2-binary in c:\users\braya\anaconda3\lib\site-packages (2.9.10)
Requirement already satisfied: holidays in c:\users\braya\anaconda3\lib\site-packages (0.59)
Requirement already satisfied: python-dateutil in c:\users\braya\appdata\roaming\python\python312\site-packages (from holidays) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\braya\appdata\roaming\python\python312\site-packages (from python-dateutil->holidays) (1.16.0)

In [2]:
# Abrimos el archivo YAML de configuración ubicado en el directorio '../../configBD/config.yml'.
# Este archivo contiene los parámetros de conexión a la base de datos.
with open('../../configBD/config.yml', 'r') as f:
    # Cargamos el archivo YAML usando la función safe_load de la librería 'yaml'.
    # Esto convierte el contenido del archivo en un diccionario de Python.
    config = yaml.safe_load(f)

    # Extraemos la configuración específica para la base de datos 'rapidofuriosos'.
    # Se asume que el archivo YAML tiene una sección llamada 'rapidofuriosos' con los detalles de conexión.
    config_etl = config['bodega']
    config_bd  = config['rapidofuriosos']

config_etl

{'driver': 'postgresql',
 'port': 5432,
 'user': 'postgres',
 'db': 'bodega_etl',
 'password': 'root',
 'host': 'localhost'}

In [58]:
# Construimos la URL de conexión a la base de datos usando los parámetros extraídos del archivo YAML.
# Esta URL sigue el formato estándar de SQLAlchemy: 'driver://user:password@host:port/dbname'.
url_bd = (f"{config_bd['driver']}://{config_bd['user']}:{config_bd['password']}@{config_bd['host']}:"
          f"{config_bd['port']}/{config_bd['db']}")
url_bd

'postgresql://postgres:root@localhost:5432/rapidofuriosos'

In [59]:
url_etl = (f"{config_etl['driver']}://{config_etl['user']}:{config_etl['password']}@{config_etl['host']}:"
           f"{config_etl['port']}/{config_etl['db']}")
url_etl

'postgresql://postgres:root@localhost:5432/bodega_etl'

In [ ]:
# Creamos el motor de conexión a la base de datos usando SQLAlchemy.
# El motor de conexión se usa para ejecutar consultas y transacciones en la base de datos.
cliente_bd  = create_engine(url_bd)
cliente_etl = create_engine(url_etl)

In [60]:
dim_fecha = pd.read_sql_table('dim_fecha', url_etl)

In [61]:
novedades = pd.read_sql_table('mensajeria_novedadesservicio', url_bd)

In [67]:
novedades['fecha_novedad'] = pd.to_datetime(novedades['fecha_novedad']).dt.date

In [ ]:

# Fechas únicas en `dim_fecha`
print("Fechas en `dim_fecha`:", dim_fecha['date'].unique())

Fechas en `novedades_diarias`: [datetime.date(2023, 11, 30) datetime.date(2023, 12, 7)
 datetime.date(2023, 12, 9) datetime.date(2023, 12, 28)
 datetime.date(2024, 1, 3) datetime.date(2024, 1, 4)
 datetime.date(2024, 1, 11) datetime.date(2024, 1, 19)
 datetime.date(2024, 1, 23) datetime.date(2024, 1, 24)
 datetime.date(2024, 1, 25) datetime.date(2024, 1, 26)
 datetime.date(2024, 1, 27) datetime.date(2024, 1, 29)
 datetime.date(2024, 1, 30) datetime.date(2024, 1, 31)
 datetime.date(2024, 2, 1) datetime.date(2024, 2, 2)
 datetime.date(2024, 2, 3) datetime.date(2024, 2, 4)
 datetime.date(2024, 2, 5) datetime.date(2024, 2, 6)
 datetime.date(2024, 2, 7) datetime.date(2024, 2, 8)
 datetime.date(2024, 2, 9) datetime.date(2024, 2, 10)
 datetime.date(2024, 2, 12) datetime.date(2024, 2, 13)
 datetime.date(2024, 2, 14) datetime.date(2024, 2, 15)
 datetime.date(2024, 2, 16) datetime.date(2024, 2, 17)
 datetime.date(2024, 2, 19) datetime.date(2024, 2, 20)
 datetime.date(2024, 2, 21) datetime.date(2024, 2, 22)
 datetime.date(2024, 2, 23) datetime.date(2024, 2, 24)
 datetime.date(2024, 2, 25) datetime.date(2024, 2, 26)
 datetime.date(2024, 2, 27) datetime.date(2024, 2, 28)
 datetime.date(2024, 2, 29) datetime.date(2024, 3, 1)
 datetime.date(2024, 3, 2) datetime.date(2024, 3, 3)
 datetime.date(2024, 3, 4) datetime.date(2024, 3, 5)
 datetime.date(2024, 3, 6) datetime.date(2024, 3, 7)
 datetime.date(2024, 3, 8) datetime.date(2024, 3, 9)
 datetime.date(2024, 3, 11) datetime.date(2024, 3, 12)
 datetime.date(2024, 3, 13) datetime.date(2024, 3, 14)
 datetime.date(2024, 3, 15) datetime.date(2024, 3, 16)
 datetime.date(2024, 3, 18) datetime.date(2024, 3, 19)
 datetime.date(2024, 3, 20) datetime.date(2024, 3, 21)
 datetime.date(2024, 3, 22) datetime.date(2024, 3, 23)
 datetime.date(2024, 3, 25) datetime.date(2024, 3, 26)
 datetime.date(2024, 3, 27) datetime.date(2024, 3, 29)
 datetime.date(2024, 3, 30) datetime.date(2024, 3, 31)
 datetime.date(2024, 4, 1) datetime.date(2024, 4, 2)
 datetime.date(2024, 4, 3) datetime.date(2024, 4, 4)
 datetime.date(2024, 4, 5) datetime.date(2024, 4, 6)
 datetime.date(2024, 4, 8) datetime.date(2024, 4, 9)
 datetime.date(2024, 4, 10) datetime.date(2024, 4, 11)
 datetime.date(2024, 4, 12) datetime.date(2024, 4, 13)
 datetime.date(2024, 4, 14) datetime.date(2024, 4, 15)
 datetime.date(2024, 4, 16) datetime.date(2024, 4, 17)
 datetime.date(2024, 4, 18) datetime.date(2024, 4, 19)
 datetime.date(2024, 4, 20) datetime.date(2024, 4, 22)
 datetime.date(2024, 4, 23) datetime.date(2024, 4, 24)
 datetime.date(2024, 4, 25) datetime.date(2024, 4, 26)
 datetime.date(2024, 4, 27) datetime.date(2024, 4, 29)
 datetime.date(2024, 4, 30) datetime.date(2024, 5, 2)
 datetime.date(2024, 5, 3) datetime.date(2024, 5, 4)
 datetime.date(2024, 5, 6) datetime.date(2024, 5, 7)
 datetime.date(2024, 5, 8) datetime.date(2024, 5, 9)
 datetime.date(2024, 5, 10) datetime.date(2024, 5, 11)
 datetime.date(2024, 5, 14) datetime.date(2024, 5, 15)
 datetime.date(2024, 5, 16) datetime.date(2024, 5, 17)
 datetime.date(2024, 5, 18) datetime.date(2024, 5, 20)
 datetime.date(2024, 5, 21) datetime.date(2024, 5, 22)
 datetime.date(2024, 5, 23) datetime.date(2024, 5, 24)
 datetime.date(2024, 5, 25) datetime.date(2024, 5, 27)
 datetime.date(2024, 5, 28) datetime.date(2024, 5, 29)
 datetime.date(2024, 5, 30) datetime.date(2024, 5, 31)
 datetime.date(2024, 6, 1) datetime.date(2024, 6, 2)
 datetime.date(2024, 6, 3) datetime.date(2024, 6, 4)
 datetime.date(2024, 6, 5) datetime.date(2024, 6, 6)
 datetime.date(2024, 6, 7) datetime.date(2024, 6, 8)
 datetime.date(2024, 6, 9) datetime.date(2024, 6, 11)
 datetime.date(2024, 6, 12) datetime.date(2024, 6, 13)
 datetime.date(2024, 6, 14) datetime.date(2024, 6, 15)
 datetime.date(2024, 6, 17) datetime.date(2024, 6, 18)
 datetime.date(2024, 6, 19) datetime.date(2024, 6, 20)
 datetime.date(2024, 6, 21) datetime.date(2024, 6, 22)
 datetime.date(2024, 6, 24) datetime.date(2024, 6, 25)
 datetime.date(2024, 6, 26) datetime.date(2024, 6, 27)
 datetime.date(2024, 6, 28) datetime.date(2024, 6, 29)
 datetime.date(2024, 7, 2) datetime.date(2024, 7, 3)
 datetime.date(2024, 7, 4) datetime.date(2024, 7, 5)
 datetime.date(2024, 7, 6) datetime.date(2024, 7, 8)
 datetime.date(2024, 7, 9) datetime.date(2024, 7, 10)
 datetime.date(2024, 7, 11) datetime.date(2024, 7, 12)
 datetime.date(2024, 7, 13) datetime.date(2024, 7, 15)
 datetime.date(2024, 7, 16) datetime.date(2024, 7, 17)
 datetime.date(2024, 7, 18) datetime.date(2024, 7, 19)
 datetime.date(2024, 7, 20) datetime.date(2024, 7, 21)
 datetime.date(2024, 7, 22) datetime.date(2024, 7, 23)
 datetime.date(2024, 7, 24) datetime.date(2024, 7, 25)
 datetime.date(2024, 7, 26) datetime.date(2024, 7, 27)
 datetime.date(2024, 7, 29) datetime.date(2024, 7, 30)
 datetime.date(2024, 7, 31) datetime.date(2024, 8, 1)
 datetime.date(2024, 8, 2) datetime.date(2024, 8, 3)
 datetime.date(2024, 8, 5) datetime.date(2024, 8, 6)
 datetime.date(2024, 8, 7) datetime.date(2024, 8, 8)
 datetime.date(2024, 8, 9) datetime.date(2024, 8, 10)
 datetime.date(2024, 8, 12) datetime.date(2024, 8, 13)
 datetime.date(2024, 8, 14) datetime.date(2024, 8, 15)
 datetime.date(2024, 8, 16) datetime.date(2024, 8, 17)
 datetime.date(2024, 8, 18) datetime.date(2024, 8, 20)
 datetime.date(2024, 8, 21) datetime.date(2024, 8, 22)
 datetime.date(2024, 8, 23) datetime.date(2024, 8, 24)
 datetime.date(2024, 8, 25) datetime.date(2024, 8, 26)
 datetime.date(2024, 8, 27) datetime.date(2024, 8, 28)
 datetime.date(2024, 8, 29) datetime.date(2024, 8, 30)
 datetime.date(2024, 8, 31)]
Fechas en `dim_fecha`: <DatetimeArray>
['2000-01-01 00:00:00', '2000-01-02 00:00:00', '2000-01-03 00:00:00',
 '2000-01-04 00:00:00', '2000-01-05 00:00:00', '2000-01-06 00:00:00',
 '2000-01-07 00:00:00', '2000-01-08 00:00:00', '2000-01-09 00:00:00',
 '2000-01-10 00:00:00',
 ...
 '2025-12-22 00:00:00', '2025-12-23 00:00:00', '2025-12-24 00:00:00',
 '2025-12-25 00:00:00', '2025-12-26 00:00:00', '2025-12-27 00:00:00',
 '2025-12-28 00:00:00', '2025-12-29 00:00:00', '2025-12-30 00:00:00',
 '2025-12-31 00:00:00']
Length: 9497, dtype: datetime64[ns]

In [53]:
novedades

,id,fecha_novedad,tipo_novedad_id,descripcion,servicio_id,es_prueba,mensajero_id
0,4,2023-11-30,1,A,51,True,7
1,5,2023-11-30,1,Halo,51,True,7
2,6,2023-11-30,1,A,51,True,7
3,7,2023-11-30,1,B,51,True,7
4,8,2023-11-30,1,A,51,True,7
...,...,...,...,...,...,...,...
5203,5246,2024-08-31,1,"Facturaron el refrigerante equivocado, se hará...",28455,True,27
5204,5247,2024-08-31,2,Edte drrvicio lo hace angelo,28464,True,25
5205,5248,2024-08-31,2,Edte lo hace csrlos,28467,True,25
5206,5249,2024-08-31,2,Este lohace csrlos,28466,True,25
5207,5250,2024-08-31,2,Este servicio rs moto csrguero,28467,True,25

In [68]:
novedades_diarias = (
    novedades.groupby(['fecha_novedad', 'tipo_novedad_id'])
    .size()
    .unstack(fill_value=0)
    .rename(columns={1: 'tipo_novedades_servicio', 2: 'tipo_sin_continuar'})
    .reset_index()
)

In [69]:
novedades_diarias

tipo_novedad_id fecha_novedad  tipo_novedades_servicio  tipo_sin_continuar
0                  2023-11-30                        6                   3
1                  2023-12-07                        2                   1
2                  2023-12-09                        0                   1
3                  2023-12-28                        1                   3
4                  2024-01-03                        2                   1
..                        ...                      ...                 ...
198                2024-08-27                       62                   8
199                2024-08-28                       19                   6
200                2024-08-29                       70                  10
201                2024-08-30                       41                   9
202                2024-08-31                        7                   8

[203 rows x 3 columns]

In [70]:
dim_fecha['date'] = pd.to_datetime(dim_fecha['date']).dt.date
dim_fecha

,key_dim_fecha,date,Fecha_id,Año,Mes,Dia,Dia_Semana,Nombre_dia,Nombre_mes
0,0,2000-01-01,1,2000,1,1,6,Sabado,Enero
1,1,2000-01-02,2,2000,1,2,7,Domingo,Enero
2,2,2000-01-03,3,2000,1,3,1,Lunes,Enero
3,3,2000-01-04,4,2000,1,4,2,Martes,Enero
4,4,2000-01-05,5,2000,1,5,3,Miercoles,Enero
...,...,...,...,...,...,...,...,...,...
9492,9492,2025-12-27,9493,2025,12,27,6,Sabado,Diciembre
9493,9493,2025-12-28,9494,2025,12,28,7,Domingo,Diciembre
9494,9494,2025-12-29,9495,2025,12,29,1,Lunes,Diciembre
9495,9495,2025-12-30,9496,2025,12,30,2,Martes,Diciembre
9496,9496,2025-12-31,9497,2025,12,31,3,Miercoles,Diciembre

In [47]:
novedades_diarias = novedades_diarias[novedades_diarias['fecha_novedad'].isin(dim_fecha["date"])]

In [71]:
novedades_diarias = novedades_diarias.merge(
    dim_fecha[['key_dim_fecha', 'date']],  # Utilizando `key_dim_fecha` como clave de fecha
    how='left',
    left_on='fecha_novedad',
    right_on='date'
)

In [72]:
novedades_diarias

,fecha_novedad,tipo_novedades_servicio,tipo_sin_continuar,key_dim_fecha,date
0,2023-11-30,6,3,8734,2023-11-30
1,2023-12-07,2,1,8741,2023-12-07
2,2023-12-09,0,1,8743,2023-12-09
3,2023-12-28,1,3,8762,2023-12-28
4,2024-01-03,2,1,8768,2024-01-03
...,...,...,...,...,...
198,2024-08-27,62,8,9005,2024-08-27
199,2024-08-28,19,6,9006,2024-08-28
200,2024-08-29,70,10,9007,2024-08-29
201,2024-08-30,41,9,9008,2024-08-30
202,2024-08-31,7,8,9009,2024-08-31

In [73]:
novedades_diarias = novedades_diarias.drop(columns=['date', 'fecha_novedad'])
novedades_diarias

     tipo_novedades_servicio  tipo_sin_continuar  key_dim_fecha
0                          6                   3           8734
1                          2                   1           8741
2                          0                   1           8743
3                          1                   3           8762
4                          2                   1           8768
..                       ...                 ...            ...
198                       62                   8           9005
199                       19                   6           9006
200                       70                  10           9007
201                       41                   9           9008
202                        7                   8           9009

[203 rows x 3 columns]

In [ ]:
novedades_diarias.to_sql('Fact_Novedades', cliente_etl, if_exists='replace', index_label='key_dim_fecha')

In [51]:
del novedades_diarias

NameError: name 'novedades_diarias' is not defined