In [1]:
import pandas as pd
import yaml
from sqlalchemy import create_engine

In [2]:
# Instala SQLAlchemy para manejar la conexión a bases de datos y mapear datos tabulares en Python.
!pip install sqlalchemy

# Instala pandas para cargar, manipular, transformar y analizar los datos.
!pip install pandas

# Instala psycopg2 para interactuar con bases de datos PostgreSQL.
!pip install psycopg2

# Instala psycopg2-binary, la versión binaria, para facilitar la interacción con PostgreSQL.
!pip install psycopg2-binary

# Instala la biblioteca holidays para considerar feriados en el análisis de datos o procesamiento de fechas.
!pip install holidays

Requirement already satisfied: sqlalchemy in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: pandas in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: psycopg2 in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (2.9.10)
Requirement already satisfied: psycopg2-binary in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (2.9.10)
Requirement already satisfied: holidays in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (0.58)
Requirement already satisfied: python-dateutil in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (from holidays) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (from python-dateutil->holidays) (1.16.0)

In [3]:
# Abrimos el archivo YAML de configuración ubicado en el directorio '../../configBD/config.yml'.
# Este archivo contiene los parámetros de conexión a la base de datos.
with open('../../configBD/config.yml', 'r') as f:
    # Cargamos el archivo YAML usando la función safe_load de la librería 'yaml'.
    # Esto convierte el contenido del archivo en un diccionario de Python.
    config = yaml.safe_load(f)

    # Extraemos la configuración específica para la base de datos 'rapidofuriosos'.
    # Se asume que el archivo YAML tiene una sección llamada 'rapidofuriosos' con los detalles de conexión.
    config_etl = config['bodega']
    config_bd  = config['rapidofuriosos']

config_etl

{'driver': 'postgresql',
 'port': 5432,
 'user': 'postgres',
 'db': 'bodega_etl',
 'password': 'root',
 'host': 'localhost'}

In [4]:
# Construimos la URL de conexión a la base de datos usando los parámetros extraídos del archivo YAML.
# Esta URL sigue el formato estándar de SQLAlchemy: 'driver://user:password@host:port/dbname'.
url_bd = (f"{config_bd['driver']}://{config_bd['user']}:{config_bd['password']}@{config_bd['host']}:"
          f"{config_bd['port']}/{config_bd['db']}")
url_bd

'postgresql://postgres:root@localhost:5432/rapidofuriosos'

In [5]:
url_etl = (f"{config_etl['driver']}://{config_etl['user']}:{config_etl['password']}@{config_etl['host']}:"
           f"{config_etl['port']}/{config_etl['db']}")
url_etl

'postgresql://postgres:root@localhost:5432/bodega_etl'

In [6]:
# Creamos el motor de conexión a la base de datos usando SQLAlchemy.
# El motor de conexión se usa para ejecutar consultas y transacciones en la base de datos.
cliente_bd  = create_engine(url_bd)
cliente_etl = create_engine(url_etl)

In [7]:
dim_fecha = pd.read_sql_table('dim_fecha', url_etl)

In [8]:
novedades = pd.read_sql_table('mensajeria_novedadesservicio', url_bd)

In [9]:
novedades['fecha_novedad'] = pd.to_datetime(novedades['fecha_novedad']).dt.date

In [10]:

# Fechas únicas en `dim_fecha`
print("Fechas en `dim_fecha`:", dim_fecha['date'].unique())

Fechas en `dim_fecha`: <DatetimeArray>
['2000-01-01 00:00:00', '2000-01-02 00:00:00', '2000-01-03 00:00:00',
 '2000-01-04 00:00:00', '2000-01-05 00:00:00', '2000-01-06 00:00:00',
 '2000-01-07 00:00:00', '2000-01-08 00:00:00', '2000-01-09 00:00:00',
 '2000-01-10 00:00:00',
 ...
 '2025-12-22 00:00:00', '2025-12-23 00:00:00', '2025-12-24 00:00:00',
 '2025-12-25 00:00:00', '2025-12-26 00:00:00', '2025-12-27 00:00:00',
 '2025-12-28 00:00:00', '2025-12-29 00:00:00', '2025-12-30 00:00:00',
 '2025-12-31 00:00:00']
Length: 9497, dtype: datetime64[ns]

In [11]:
novedades

,id,fecha_novedad,tipo_novedad_id,descripcion,servicio_id,es_prueba,mensajero_id
0,4,2023-11-30,1,A,51,True,7
1,5,2023-11-30,1,Halo,51,True,7
2,6,2023-11-30,1,A,51,True,7
3,7,2023-11-30,1,B,51,True,7
4,8,2023-11-30,1,A,51,True,7
...,...,...,...,...,...,...,...
5203,5246,2024-08-31,1,"Facturaron el refrigerante equivocado, se hará...",28455,True,27
5204,5247,2024-08-31,2,Edte drrvicio lo hace angelo,28464,True,25
5205,5248,2024-08-31,2,Edte lo hace csrlos,28467,True,25
5206,5249,2024-08-31,2,Este lohace csrlos,28466,True,25
5207,5250,2024-08-31,2,Este servicio rs moto csrguero,28467,True,25

In [12]:
novedades_diarias = (
    novedades.groupby(['fecha_novedad', 'tipo_novedad_id'])
    .size()
    .unstack(fill_value=0)
    .rename(columns={1: 'tipo_novedades_servicio', 2: 'tipo_sin_continuar'})
    .reset_index()
)

In [13]:
novedades_diarias

tipo_novedad_id fecha_novedad  tipo_novedades_servicio  tipo_sin_continuar
0                  2023-11-30                        6                   3
1                  2023-12-07                        2                   1
2                  2023-12-09                        0                   1
3                  2023-12-28                        1                   3
4                  2024-01-03                        2                   1
..                        ...                      ...                 ...
198                2024-08-27                       62                   8
199                2024-08-28                       19                   6
200                2024-08-29                       70                  10
201                2024-08-30                       41                   9
202                2024-08-31                        7                   8

[203 rows x 3 columns]

In [14]:
dim_fecha['date'] = pd.to_datetime(dim_fecha['date']).dt.date
dim_fecha

,key_dim_fecha,date,Fecha_id,ano,mes,dia,dia_semana,nombre_dia,nombre_mes
0,0,2000-01-01,1,2000,1,1,6,Sabado,Enero
1,1,2000-01-02,2,2000,1,2,7,Domingo,Enero
2,2,2000-01-03,3,2000,1,3,1,Lunes,Enero
3,3,2000-01-04,4,2000,1,4,2,Martes,Enero
4,4,2000-01-05,5,2000,1,5,3,Miercoles,Enero
...,...,...,...,...,...,...,...,...,...
9492,9492,2025-12-27,9493,2025,12,27,6,Sabado,Diciembre
9493,9493,2025-12-28,9494,2025,12,28,7,Domingo,Diciembre
9494,9494,2025-12-29,9495,2025,12,29,1,Lunes,Diciembre
9495,9495,2025-12-30,9496,2025,12,30,2,Martes,Diciembre
9496,9496,2025-12-31,9497,2025,12,31,3,Miercoles,Diciembre

In [15]:
novedades_diarias = novedades_diarias[novedades_diarias['fecha_novedad'].isin(dim_fecha["date"])]

In [16]:
novedades_diarias = novedades_diarias.merge(
    dim_fecha[['key_dim_fecha', 'date']],  # Utilizando `key_dim_fecha` como clave de fecha
    how='left',
    left_on='fecha_novedad',
    right_on='date'
)

In [17]:
novedades_diarias

,fecha_novedad,tipo_novedades_servicio,tipo_sin_continuar,key_dim_fecha,date
0,2023-11-30,6,3,8734,2023-11-30
1,2023-12-07,2,1,8741,2023-12-07
2,2023-12-09,0,1,8743,2023-12-09
3,2023-12-28,1,3,8762,2023-12-28
4,2024-01-03,2,1,8768,2024-01-03
...,...,...,...,...,...
198,2024-08-27,62,8,9005,2024-08-27
199,2024-08-28,19,6,9006,2024-08-28
200,2024-08-29,70,10,9007,2024-08-29
201,2024-08-30,41,9,9008,2024-08-30
202,2024-08-31,7,8,9009,2024-08-31

In [18]:
novedades_diarias = novedades_diarias.drop(columns=['date', 'fecha_novedad'])
novedades_diarias

     tipo_novedades_servicio  tipo_sin_continuar  key_dim_fecha
0                          6                   3           8734
1                          2                   1           8741
2                          0                   1           8743
3                          1                   3           8762
4                          2                   1           8768
..                       ...                 ...            ...
198                       62                   8           9005
199                       19                   6           9006
200                       70                  10           9007
201                       41                   9           9008
202                        7                   8           9009

[203 rows x 3 columns]

In [19]:
novedades_diarias.to_sql('Fact_Novedades', cliente_etl, if_exists='replace', index=False)

203