Importaciones

In [1]:
import pandas as pd
import yaml
from sqlalchemy import create_engine

Paquetes Python

In [2]:
# Instala SQLAlchemy para manejar la conexión a bases de datos y mapear datos tabulares en Python.
!pip install sqlalchemy

# Instala pandas para cargar, manipular, transformar y analizar los datos.
!pip install pandas

# Instala psycopg2 para interactuar con bases de datos PostgreSQL.
!pip install psycopg2

# Instala psycopg2-binary, la versión binaria, para facilitar la interacción con PostgreSQL.
!pip install psycopg2-binary

# Instala la biblioteca yaml
!pip install pyyaml

Requirement already satisfied: sqlalchemy in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (from sqlalchemy) (4.11.0)

Requirement already satisfied: pandas in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Requirement already satisfied: psycopg2 in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (2.9.10)

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (2.9.10)

Requirement already satisfied: pyyaml in /opt/anaconda3/envs/Proyecto/lib/python3.8/site-packages (6.0.2)

Agregar conexión a la base de datos

In [3]:
# Abrimos el archivo YAML de configuración ubicado en el directorio '../../configBD/config.yml'.
# Este archivo contiene los parámetros de conexión a la base de datos.
with open('../../configBD/config.yml', 'r') as f:
    # Cargamos el archivo YAML usando la función safe_load de la librería 'yaml'.
    # Esto convierte el contenido del archivo en un diccionario de Python.
    config = yaml.safe_load(f)

    # Extraemos la configuración específica para la base de datos 'rapidofuriosos'.
    # Se asume que el archivo YAML tiene una sección llamada 'rapidofuriosos' con los detalles de conexión.
    config_etl = config['bodega']
    config_bd  = config['rapidofuriosos']
    
config_etl

{'driver': 'postgresql',
 'port': 5432,
 'user': 'postgres',
 'db': 'bodega_etl',
 'password': 'root',
 'host': 'localhost'}

In [4]:
# Construimos la URL de conexión a la base de datos usando los parámetros extraídos del archivo YAML.
# Esta URL sigue el formato estándar de SQLAlchemy: 'driver://user:password@host:port/dbname'.
url_bd = (f"{config_bd['driver']}://{config_bd['user']}:{config_bd['password']}@{config_bd['host']}:"
          f"{config_bd['port']}/{config_bd['db']}")
url_bd

'postgresql://postgres:root@localhost:5432/rapidofuriosos'

In [5]:
url_etl = (f"{config_etl['driver']}://{config_etl['user']}:{config_etl['password']}@{config_etl['host']}:"
           f"{config_etl['port']}/{config_etl['db']}")
url_etl

'postgresql://postgres:root@localhost:5432/bodega_etl'

In [6]:
# Creamos el motor de conexión a la base de datos usando SQLAlchemy.
# El motor de conexión se usa para ejecutar consultas y transacciones en la base de datos.
cliente_bd  = create_engine(url_bd)
cliente_etl = create_engine(url_etl)

Tabla de cargas

In [7]:
# Cargar la tabla "cliente" desde la base de datos a un DataFrame de pandas utilizando la conexión 'co_sa'
cliente = pd.read_sql_table("cliente", cliente_bd)

# Mostrar las primeras filas del DataFrame 'cliente' para revisar su contenido
cliente.head()

   cliente_id nit_cliente  ... coordinador_id      sector
0           1          25  ...            NaN           S
1           2         123  ...            2.0  industrial
2           6     24390-3  ...            1.0       salud
3          19     8301821  ...            NaN       salud
4           8   5017350-8  ...            NaN       salud

[5 rows x 12 columns]

Remplazar campos

In [8]:
cliente['coordinador_id'] = cliente['coordinador_id'].fillna(0)
cliente.head()

   cliente_id nit_cliente  ... coordinador_id      sector
0           1          25  ...            0.0           S
1           2         123  ...            2.0  industrial
2           6     24390-3  ...            1.0       salud
3          19     8301821  ...            0.0       salud
4           8   5017350-8  ...            0.0       salud

[5 rows x 12 columns]

In [9]:
columnas_relevantes = ['cliente_id', 'nombre', 'nit_cliente',  'email', 'direccion', 'telefono']
dim_cliente = cliente[columnas_relevantes]

Cargar

In [10]:
dim_cliente.to_sql('dim_cliente', con=cliente_etl, index_label='key_dim_cliente', if_exists='replace')

27

In [11]:
loaded_dim_cliente = pd.read_sql_table('dim_cliente', cliente_etl)
print(loaded_dim_cliente.head())

   key_dim_cliente  cliente_id  ...           direccion   telefono
0                0           1  ...  Calle 100 No 25-18  327-00000
1                1           2  ...  Calle 100 No 25-18  327-00000
2                2           6  ...  Calle 100 No 25-18  327-00000
3                3          19  ...  Calle 100 No 25-18  327-00000
4                4           8  ...  Calle 100 No 25-18  327-00000

[5 rows x 7 columns]