In [25]:
from datetime import date

import pandas as pd
import numpy as np
import yaml

Dataframe

In [26]:
dim_fecha = pd.DataFrame({
    "date": pd.date_range(start='1/1/2000', end='12/31/2025', freq='D')
})
dim_fecha

        date
0 2000-01-01
1 2000-01-02
2 2000-01-03
3 2000-01-04
4 2000-01-05

Traducciones para que quede formateado ya que no adminte tildes y los metodos de unicode quedan raros

In [27]:
days_translation = {
    "Monday": "Lunes", "Tuesday": "Martes", "Wednesday": "Miercoles",
    "Thursday": "Jueves", "Friday": "Viernes", "Saturday": "Sabado",
    "Sunday": "Domingo"
}
months_translation = {
    "January": "Enero", "February": "Febrero", "March": "Marzo",
    "April": "Abril", "May": "Mayo", "June": "Junio",
    "July": "Julio", "August": "Agosto", "September": "Septiembre",
    "October": "Octubre", "November": "Noviembre", "December": "Diciembre"
}

Añadir columnas y la fecha en formato string para los dias y meses

In [28]:
dim_fecha["Fecha_id"] = dim_fecha.index + 1
dim_fecha["ano"] = dim_fecha["date"].dt.year
dim_fecha["mes"] = dim_fecha["date"].dt.month
dim_fecha["dia"] = dim_fecha["date"].dt.day
dim_fecha["dia_semana"] = dim_fecha["date"].dt.weekday + 1

dim_fecha["nombre_dia"] = dim_fecha["date"].dt.day_name().map(days_translation)
dim_fecha["nombre_mes"] = dim_fecha["date"].dt.month_name().map(months_translation)

dim_fecha.head()

        date  Fecha_id   ano  mes  dia  dia_semana nombre_dia nombre_mes
0 2000-01-01         1  2000    1    1           6     Sabado      Enero
1 2000-01-02         2  2000    1    2           7    Domingo      Enero
2 2000-01-03         3  2000    1    3           1      Lunes      Enero
3 2000-01-04         4  2000    1    4           2     Martes      Enero
4 2000-01-05         5  2000    1    5           3  Miercoles      Enero

In [29]:
from sqlalchemy import create_engine
# Abrimos el archivo YAML de configuración ubicado en el directorio '../../configBD/config.yml'.
# Este archivo contiene los parámetros de conexión a la base de datos.
with open('../../configBD/config.yml', 'r') as f:
    # Cargamos el archivo YAML usando la función safe_load de la librería 'yaml'.
    # Esto convierte el contenido del archivo en un diccionario de Python.
    config = yaml.safe_load(f)

    # Extraemos la configuración específica para la base de datos 'rapidofuriosos'.
    # Se asume que el archivo YAML tiene una sección llamada 'rapidofuriosos' con los detalles de conexión.
    config_etl = config['bodega']
    config_bd  = config['rapidofuriosos']
    
config_etl

{'driver': 'postgresql',
 'port': 5432,
 'user': 'postgres',
 'db': 'bodega_etl',
 'password': 'root',
 'host': 'localhost'}

In [30]:
url_etl = (f"{config_etl['driver']}://{config_etl['user']}:{config_etl['password']}@{config_etl['host']}:"
           f"{config_etl['port']}/{config_etl['db']}")
url_etl

# Construimos la URL de conexión a la base de datos usando los parámetros extraídos del archivo YAML.
# Esta URL sigue el formato estándar de SQLAlchemy: 'driver://user:password@host:port/dbname'.
url_bd = (f"{config_bd['driver']}://{config_bd['user']}:{config_bd['password']}@{config_bd['host']}:"
          f"{config_bd['port']}/{config_bd['db']}")
url_bd

'postgresql://postgres:root@localhost:5432/rapidofuriosos'

In [31]:
# Creamos el motor de conexión a la base de datos usando SQLAlchemy.
# El motor de conexión se usa para ejecutar consultas y transacciones en la base de datos.
cliente_bd  = create_engine(url_bd)
cliente_etl = create_engine(url_etl)

In [32]:
dim_fecha.to_sql('dim_fecha', cliente_etl, if_exists='replace',index_label='key_dim_fecha')

497