In [1]:
import pandas as pd
from sqlalchemy import create_engine
import yaml

Crear el DataFrame con cada hora del día (0 a 23)

In [3]:
dim_tiempo = pd.DataFrame({
    "hora": pd.date_range("00:00", "23:00", freq="H").time
})

dim_tiempo

C:\Users\lenin\AppData\Local\Temp\ipykernel_20304\3699369292.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  "hora": pd.date_range("00:00", "23:00", freq="H").time

        hora
0   00:00:00
1   01:00:00
2   02:00:00
3   03:00:00
4   04:00:00
5   05:00:00
6   06:00:00
7   07:00:00
8   08:00:00
9   09:00:00
10  10:00:00
11  11:00:00
12  12:00:00
13  13:00:00
14  14:00:00
15  15:00:00
16  16:00:00
17  17:00:00
18  18:00:00
19  19:00:00
20  20:00:00
21  21:00:00
22  22:00:00
23  23:00:00

Añadir una columna para el ID único de cada hora

In [6]:
dim_tiempo["tiempo_id"] = dim_tiempo.index + 1

Reorganizar columnas para que Tiempo_id sea la primera

In [7]:
dim_tiempo = dim_tiempo[["Tiempo_id", "hora"]]

Cargar configuración de la base de datos desde el archivo YAML

In [9]:
with open('../../configBD/config.yml', 'r') as f:
    config = yaml.safe_load(f)
    config_etl = config['bodega']

Construir la URL de conexión a la base de datos

In [10]:
url_etl = (f"{config_etl['driver']}://{config_etl['user']}:{config_etl['password']}@{config_etl['host']}:"
           f"{config_etl['port']}/{config_etl['db']}")

Crear el motor de conexión a la base de datos

In [11]:
cliente_etl = create_engine(url_etl)

Guardar el DataFrame en la base de datos como la tabla dim_tiempo

In [12]:
dim_tiempo.to_sql('dim_tiempo', cliente_etl, if_exists='replace', index=False, index_label='Tiempo_id')

24